:root > * {
  --md-primary-fg-color: #1e1e2e;
  --md-primary-fg-color--light: #313244;
  --md-primary-fg-color--dark: #11111b;
  --md-typeset-color: #f6821f; /* Cloudflare Orange Highlights */
  --md-typeset-a-color: #f6821f;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: #181825;
  --md-default-fg-color: #cdd6f4;
  --md-primary-fg-color: #11111b;
  --md-typeset-color: #f6821f;
  --md-typeset-a-color: #f6821f;
  --md-code-bg-color: #1e1e2e;
}

h1, h2, h3, h4 {
  color: #f6821f;
}

.md-header {
  border-bottom: 2px solid #f6821f;
}
